.content-container{
    height: auto;
    background-color:white;
    margin-left:80px;
}

body{
    width:100%;
    font-family: verdana;
    margin:0px;
    background-color:whitesmoke!important;
}


.article_image{
    display: inline-block;
    margin-right: 20px;
}

.left-content{
    display: inline-block;
}

.article{
    display: flex;
    padding:10px;
    margin-bottom: 20px;
    font-size:13px;
    min-height: 500px;
}
.article_bottom{
    font-size:10px;
}




.tags{
    /* display: flex; */
    margin-top: 50px;
}

.tag{
    border:1px solid lightblue;
    padding:2px 7px;
    margin-left:15px;
    display:inline-block;
    width:auto;
    height:30px;
    cursor:pointer;
}

.tag:hover{
    background-color:lightblue;
}

.article_body{
    padding:0px;
}

.nav-ul{
    display:flex;
}




.article_time{
    color:#656565;
    margin-left:0px;
}



.article_info{
    font-size:10px;
    color:#ffb380;
    font-weight: 600;
    display: inline-block;
    margin-left:14px;
}

.article_title{
    display: inline-block;
    text-decoration:none;
    padding:0px;
    margin-bottom:10px;
}


.link_to_article{
    text-decoration:none;
    color:#4286f4;

}

.article_summary_text{
    margin:0px;
    font-weight: 200;
    font-size: 16px;

}

.article_summary{
    height: 80px;
}

.article_info_bottom{
    font-size:10px;
    font-weight: 600;
}

