.content-container{
    height: auto;
    background-color:white;
    margin-left:80px;
}

body{
    width:100%;
    font-family: verdana;
    margin:0px;
    background-color:whitesmoke!important;
}


.article_image{
    display: inline-block;
    margin-right: 20px;
}

.left-content{
    display: inline-block;
}

.article{
    display: flex;
    padding:10px;
    margin-bottom: 20px;
    font-size:13px;
    min-height: 500px;
}
.article_bottom{
    font-size:10px;
}

.tags{
    /* display: flex; */
    margin-top: 50px;
}

.tag{
    border:1px solid lightblue;
    padding:2px 7px;
    margin-left:15px;
    display:inline-block;
    width:auto;
    height:30px;
    cursor:pointer;
}

.tag:hover{
    background-color:lightblue;
}

.article_body{
    padding:0px;
}

.picture_info{
    color:gray;
    font-style: italic;
    float: right;
}

.article_time{
    color:#656565;
    margin-left:0px;
}



.article_info_article_page{
    font-size:10px;
    color:#ffb380;
    font-weight: 600;
    display: inline-block;
    background-color:whitesmoke;
    width:100%;
    vertical-align: middle;
}

.article_title{
    display: inline-block;
    text-decoration:none;
    padding:0px;
    margin-bottom:10px;
}


.link_to_article{
    text-decoration:none;
    color:#4286f4;

}

.article_summary_text{
    margin:0px;
    font-weight: 200;
    font-size: 16px;

}

.article_summary{
    height: 80px;
}

.article_info_bottom{
    font-size:10px;
    font-weight: 600;
}

.total_likes{
    font-size:30px;
    color:#4286f4;
    padding-right: 10px;
    padding-left: 10px;
}

.article_time_article_page{
    padding:10px;
    color:gray;
    background-color:whitesmoke;
    float: right;
    font-size: 15px;
}

.like_unlike{
    margin-bottom:10px;
    cursor:pointer;
}

.like{
    margin-left:30px;
}

.side-list-item{
    border-left:5px solid whitesmoke;
    list-style-type:none;
    padding-left:6px;
    padding-top:8px;
    padding-bottom:8px;
    margin-bottom:2px;
    font-family: 'verdana';
    font-weight: 600;
    font-size:13px;
    text-decoration:none;
    color:#083a8b;
}

.side-list-item:hover{
    border-left:5px solid #083a8b;
    background-color:whitesmoke;
    text-decoration: none;
}

/* .border-orange{
    border-left:5px solid rgb(248, 185, 67);
} */

.border-orange:hover{
    border-left:5px solid  rgb(224, 161, 42);
}

@media (max-width:576px) {
    .content-container{
        margin-left:10px;
    }

  

}

