
.nav{
    height:40px;
    background-color:white;
    margin:0px auto;
    font-family:Tahoma;
}

.navbar_besi{
    background-color:#9900ff;
    color:white !important; 
    height:48px;
}

.nav-item{
    color:white !important;
    height:48px;
    width:120px;
    text-align: center;
}
.nav-item:hover{
    color:white !important;
    background-color:#c266ff !important;
}

.special{
    background-color:green;
}

