
.nav{
    height:40px;
    background-color:white;
    margin:0px auto;
    font-family:Tahoma;
}
/* .margR{
    position: relative;
    left: 10%;
} */
.navbar_besi{
    background-image: linear-gradient(94deg, #083862 0%, #3c698f 100%);
    color:white !important; 
    height:48px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 13px;
    display: flex;
}

.nav-item, .nav-item-mobile{
    color:white !important;
    height:49px;
    width:120px;
    text-align: center;
    padding-top:12px;
    cursor:pointer;
}

.nav-item-mobile{
    padding-right:30px;
}

.nav-item:hover{
    color:white !important;
    background-color: #083862 !important;
    border-bottom:3px solid rgb(101, 233, 162) ;
}

.special{
    background-color:green;
}


#search-top{
    height:30px;
    border-radius: 8px;;
    border:none;
    margin-left:100px;
    width:200px;
    padding-left:10px;
    
    /* background: url('assets/images/search.svg'); */
}

.search-btn{
    height:20px;
    width:20px;
    padding-top:0px;
    margin-left:7px;
    margin-right: 5px;
    display: flex; 
    position: absolute; 
    align-self: center;
}

.search_area{
    margin-right: 8px;
}

.hidden_desktop{
    display: none;
}




.activeTab{
    background-color:rgb(101, 233, 162);
    color:#083862 !important;
}


@media (max-width:767px) {

    .navbar_besi {
        width:100%;
        height: auto;
    }

    .nav-item {

        width: auto;
    }

    .nav-item a {

        width: auto;
        text-align: right;
    }

    .navLogin {

        padding-right: 0;
        text-align: right;
    }

    .hidden_mobile{
        display:none;
    }

    .hidden_desktop{
        display: inline-block;
    }

    .navbar-toggler{
        float: right;
    }

    .navbar-nav .nav-item {

        padding-top: 0px;
        height: 40px;
    }

    .nav-item a {
        text-align: left;
    }
    .user_data{

        margin: 10px 0;
    }

    #search-top {

        margin: 10px 0;
    }

    .navbar-brand img{

        margin-left: -45px;
    }
    .navbar button {

        margin-top: 9px
    }

    .searchDiv i{

        color: #4a4a4a;
        margin-left: -20px;
    }

    .userName {

        margin-left: 5px;
        font-size: 14px;
    }


}
/* .navbar-besi{
    display:flex;
    justify-content:space-between;
} */