
.article_time{
    color:#656565;
    margin-left:0px;
}


.article_info{
    font-size:10px;
    color:#ffb380;
    font-weight: 600;
    display: inline-block;
    /* margin-left:14px; */
    
}

.article_title{
    display: inline-block;
    text-decoration:none;
    padding:0px;
    margin-bottom:10px;
}


.link_to_article{
    text-decoration:none;
    font-size: 16px;
    color:rgb(8, 56, 98);        
    font-weight: 600;
}

.article_summary_text{
    margin:0px;
    font-weight: 200;
    font-size: 16px;

}

.article_image{
    display: inline-block;
    margin-right: 20px;
    width:200px;
    overflow:hidden;
}


.article{
    /* display: flex; */
    font-size:13px;
    margin:0px auto;
    /* border-bottom:1px solid whitesmoke; */
    padding:5px;
}

.article_info_bottom{
    font-size:10px;
    font-weight: 600;
    float:right;
}

.blue_text{
    color:#4286f4;
    font-size: 12px;
    font-weight: 600;
}

.bottom_bar{
    background-color:whitesmoke;
    vertical-align: bottom;
    display: block;
    padding-left:10px;
    padding-right: 10px;
}

.picture_article{
    display: flex;
}

.imgWraperArticle img{

    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media (max-width:576px) {

    .picture_article {

        display: block;
    }

    .article_title {
        margin: 15px 0 10px 0;
    }

    .bottom_bar {

        padding-top: 2px;
        height: 21px;
    }

    .article_info, .article_info_bottom {

        font-size: 11px;
    }

    .article {

        padding: 10px;
    }

    .article_image {

        display: inline-block;
        margin-right: 20px;
        width: 100%;
        overflow: hidden;
    }

    .imgWraperArticle {

        height: 200px;
    }

    .article_summary {

        display: none;
    }

    .link_to_article {

        font-size: 18px;
    }
}